<template>
    <div class="hello">
        <h1>Тестирование бага</h1>
        <a href="https://join.fortniteacademy.ru/vk-bug-test" target="_blank">Ссылка с редиректом на vk://vk.com...</a>
    </div>
</template>

<script>
    export default {
        name: 'HelloWorld',
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    a {
        background: grey;
        padding: 30px;
        color: #fff;
        display: block;
        margin-top: 10px;
    }

    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }
</style>
